*{
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:-moz-none;
    -o-user-select:none;
    user-select:none
}

 #slider-horizontal{
    width:50vw;
    min-width:200px;
}

html {
	height: 100%;
    overflow: hidden;
}
.animosaic-content {
	height: 100%;
    background:#03a9f4;
    overflow: hidden;
    z-index: 1;
}

.duplicate {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -1;
}

.mosaic-tile{
    width:100%;
    height:100%
}

#imageItem{
    visibility: hidden
}

.animosaic-mosaic-controls {
	margin-top: 8vh;
	margin-bottom: 3vh;
	margin-left: 3vw;
	margin-right: 3vw;


    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.animosaic-prompt-overlay {
    width:100vw;
    height:100vh;
    background: rgba(0,122,193,.67);
    position: absolute;
    display:none;
    top: 0vw;
    left: 0vh;
    z-index:10;
}

.animosaic-prompt {
    background:#FFF;
    border-radius: 20px;
    max-width: 94%;
    max-height: 88%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index:12;

    padding:25px;
    grid-gap: 25px;
    display: grid;
    overflow: scroll;
    width: min-content;

    grid-template-columns: 1fr;
}

.animosaic-prompt-image {
    width: 100%;
    align-items:center;
}

.animosaic-prompt-image img {
    border-radius: 10px;
    max-width: 200px;

  display: block;
  margin-left: auto;
  margin-right: auto;
}



.animosaic-form {
    align-items:center;
    width: 100%;
    min-width: 50vw;
}

@media only screen and (max-width: 450px) {
    .animosaic-form {
        align-items:center;
        width: 100%;
        min-width: 75vw;
    }

    .animosaic-prompt-image img {
        border-radius: 10px;
        max-width: 110px;
    }

    .animosaic-form p {
        font-size: 12px;
    }
}

@media only screen and (min-width: 965px) {
    .animosaic-prompt {
        grid-template-columns: minmax(400px, 1fr) auto;
    }

    .animosaic-prompt-image {
        width: 100%;
        max-width: 400px;
    }

    .animosaic-prompt-image img {
        border-radius: 10px;
        max-width: 100%;
    }

    .animosaic-form {
        align-items:left;
        width: 50%;
        min-width: 400px;
    }

    .animosaic-form input {
    	min-width: 350px;
    }

    .animosaic-button,
    .animosaic-form-file-input + label {
    	min-width: 350px;
    }

     #slider-horizontal{
        min-width:400px;
    }
}

.bottom-control {
    width:94vw;
    position: absolute;
    top: 80vh;
    left: 0%;
    margin-left :3vw;
    margin-right:3vw;
    display:none;
}

.control-row {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.control-row p {
	color:#ffffff;
	text-align:center;
	margin: 0px;
}

.animosaic-footer p, a, a:link, a:visited, a:hover, a:active {
	color:#ffffff;
	text-align:center;
	margin: 0px;
    font-size: 12px;
}

.animosaic-form p, h2, h4 {
    text-align: center
}

.animosaic-header, .animosaic-footer {
	background-color:#007ac1;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    max-height: 5vh;
    z-index: 11;
}

.modal-header {
	background-color:#007ac1;
	color:#ffffff;
	font-family:Arial;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-title {
    text-align: center
}


.rowholder {
	min-width: 450px;
	max-height: 70vh;
	overflow-x: auto;
	overflow-y: auto;
}

.animosaic-footer {
    position: absolute;
    bottom: 0%;
    left: 0%;
}

.animosaic-header {
    position: absolute;
    top: 0%;
    left: 0%;
}

h1, h4, p {
	font-family:Arial;
}

.magnifier-hints {
    font-size:17px;
    font-weight: bold;
}

.animosaic-header h1 {
	color:#ffffff;
}

.animosaic-form-form input {
    width: 100%;
	font-size:15px;
    margin-bottom: 20px;
	padding:9px 23px;
	font-family:Arial;
	border-radius:3px;
	border:1px solid #03a9f4;
	text-align:center;
}

.animosaic-form-file-input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
	cursor: pointer;
}

.animosaic-form-file-input + label {
    cursor: pointer;
    margin-bottom: 20px;
}

.animosaic-button,
.animosaic-form-file-input + label {
    width: 100%;
	background-color:#03a9f4;
	border-radius:3px;
	border:1px solid #0688fa;
	display:inline-block;
    text-align: center;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
}
.animosaic-button:hover, .animosaic-form-file-input + label:hover, .animosaic-control-button:hover {
	background-color:#0688fa;
	color:#ffffff;
}
.animosaic-button:active, .animosaic-form-file-input + label:active, .animosaic-control-button:active {
	position:relative;
	top:1px;
}

.animosaic-control-button {
	background-color:#fff;
	border-radius:3px;
	border:1px solid #0688fa;
    text-align: center;
	cursor:pointer;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	min-width: 120px;
	margin-left: 13px;
	margin-right: 13px;
}
